<a href="https://colab.research.google.com/github/wolverine11072004/Legal_Document_Analyser-v1/blob/main/Intro_Python_NIT_B3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''

1.Decision Control Statement
2.For loop
3.Function
4.Lambda
5.Python Data-Structure(List,Dictionary)
6.OOP(Class Object)
7.Numpy(1-D,2-D,3-D,slicing,reshape,& operator,basic math function)
8.Pandas(Series,DataFrame,CSV,loc,iloc,at,groupby,sort)
9.Matplotlib(LineChart,scatterplot,pie chart,barchart,histogram)
10.Seaborn(LineChart,ScatterPlot,CountPlot,Histogram,heatmap,boxplot,violinplot,pairplot)
11.Features Engineering
1.Tackling Null value
2.Data Encoding


'''

In [ ]:
#Decision Control statement in Python
'''
if
elif
else

if condition:
    statement
elif condition:
    statement
else:
    statement

'''

In [ ]:
a=5
print(f"The value of a={a}")

In [ ]:
#WAP code to find the greatest between 2 numbers
n1=int(input("Enter the first"))
n2=int(input("Enter the second"))
if n1>n2:
    print(f"{n1} is greater than {n2}")
else:
    print(f"{n2} is greater than {n1}")

In [ ]:
#WAP to find the greatest between 3 numbers
n1=int(input("Enter the first"))
n2=int(input("Enter the second"))
n3=int(input("Enter the Third"))

if n1>n2 and n1>n3:
    print(f"{n1} is greater than {n2} and {n3}")
elif n2>n1 and n2>n3:
     print(f"{n2} is greater than {n1} and {n3}")
else:
     print(f"{n3} is greater than {n1} and {n2}")

In [ ]:
#For loops
'''
for variable in range(start,end,step):
    statement-1,
    statement-2,
    statement-3,
    .
    .
    .
    statement-n




'''

In [ ]:
#WAP code to print the first 10 numbers using for loop
for i in range(1,11,1):
    print(i,end=" ")

In [ ]:
#WAP code to count the even numbers within a range
start=int(input("Enter the start"))
end=int(input("Enter the end"))
count=0
for i in range(start,end+1,1):
    if i%2==0:
        count+=1

print(count)

In [ ]:
#Concept of function
'''
#Function defination
def function_name(p1,p2,p3,p4,......,pn):
    statement-1,
    statement-2,
    statement-3,
    .
    .
    .
    statement-n
    return ans

#Function call
ans=function_name(a1,a2,a3,a4,......,an)
print(ans)



'''
#WAP code to perform sum() operation between 2 numbers
#using python
#Function Defination
def sum(v1,v2):
    return (v1+v2)
#Function Call
ans=sum(10,20)
print(ans)

In [ ]:
#WAP code to check whether a year is leap
#year or not using function

#function defination
def fun(year):
    if((year %4==0 and year %100!=0) or (year %400==0)):
        return True
    else:
        return False

#Function call
year=int(input("Enter the year"))
ans=fun(year)
print(ans)

In [ ]:
#Function with loops
#WAP code to print the sum of first N natutal number using function
def fun(n):
    sum=0
    for i in range(1,n+1,1):
        sum+=i
    return sum

ans=fun(10)
print(ans)

In [ ]:
#Lambda Function
'''
ans=lambda v1,v2,v3,v4,.....vn:expression(add,sub,mul,div,complex math eq)
'''
ans=lambda v1,v2:v1+v2
print(ans(2,5))

ans=lambda v1,v2,v3,v4:v1*v2*v3*v4
print(ans(2,5,6,7))

Python DataStructure

In [ ]:
'''
List
Tuple
Set
Dictionary

'''

In [ ]:
#Properties for the List
#List:-Ordered,Changable,Duplicate will be allowed
l=["Virat","Rohit","Suresh","Jadeja"]
print(l)#Follow the order
s={"Virat","Rohit","Suresh","Jadeja"}
print(s)#Order is not Following

In [ ]:
#Changable Properties
l=["Virat","Rohit","Suresh","Jadeja"]
l[0]="Sachin"
print(l)

In [ ]:
#Allows Duplicate
l=["Virat","Rohit","Suresh","Jadeja","Virat"]
print(l)

In [ ]:
#Insert Operation in List
'''
append(),It is use to insert the elements from tail end
insert(),For the position wise inserting the insert will be use
extend(),Use to merge the two list

'''
l=["Virat","Rohit","Suresh"]
l.append("Yuvraj")
print(l)

In [ ]:
l=["Virat","Rohit","Suresh"]
l.insert(1,"Yuvraj")
print(l)

In [ ]:
l1=["Virat","Rohit","Suresh"]
l2=["Yuvraj","Jadeja"]
l1.extend(l2)
print(l1)

In [ ]:
#Delete operation in list
'''
remove(),For element wise delete
pop()
del
clear


'''
l=["Virat","Rohit","Suresh","Jadeja"]
l.remove("Rohit")
print(l)

In [ ]:
#For the index wise remove
l=["Virat","Rohit","Suresh","Jadeja"]
l.pop(2)
print(l)

In [ ]:
#Clear
l=["Virat","Rohit","Suresh","Jadeja"]
l.clear()
print(l)

In [ ]:
#del
l=["Virat","Rohit","Suresh","Jadeja"]
del l
print(l)

In [ ]:
#List Comprehension
l=[1,2,3,4,5,6]
ans=[i for i in l if i%2==0]
print(ans)

In [ ]:
#Sorting in list
l=[10,21,0,-1,6]
l.sort(reverse=True)
print(l)

*Dictionary*

In [ ]:
#Properties of Dictionary
'''
3.6 and <3.6, those time dictionary was Un-Ordered
3.7 and >3.7, those time dictionary was Ordered

dictionary is changable

duplicate will not be allowed

'''
'''
d={
    "Key-1":"Value-1",
    "Key-2":"Value-2",
    "Key-3":"Value-3",
    .
    .
    .
    .
    "Key-n":"Value-n",



}
'''

In [ ]:
#The key and value representation
#It's ordered
d={
    "Virat":18000,
    "Rohit":15000,
    "Suresh":12000,
}
print(d)

In [ ]:
#Changable
d={
    "Virat":18000,
    "Rohit":15000,
    "Suresh":12000,
}
d['Suresh']=13000
print(d)

In [ ]:
#Duplicate will not be allowed
d={
    "Virat":18000,
    "Rohit":15000,
    "Suresh":12000,
    "Virat":20000,
}
print(d)

In [ ]:
#Insert in dictionary
d={
    "Virat":18000,
    "Rohit":15000,
    "Suresh":12000,
    "Virat":20000,
}
d["Rishav"]=14000
print(d)

In [ ]:
d={
    "Virat":18000,
    "Rohit":15000,
    "Suresh":12000,
    "Virat":20000,
}
d.update({
    "Rishav":14000,

})
print(d)

In [ ]:
#Delete the items from dictionary
'''
pop(),key wise delete
popitem()
del
clear()

'''
d={
    "Virat":18000,
    "Rohit":15000,
    "Suresh":12000,
    "Rishav":20000,
}
print(d)

print(d.pop("Rishav"))

print(d)

In [ ]:
d={
    "Virat":18000,
    "Rohit":15000,
    "Suresh":12000,
    "Rishav":20000,
}
print(d.popitem())
print(d)

In [ ]:
d={
    "Virat":18000,
    "Rohit":15000,
    "Suresh":12000,
    "Rishav":20000,
}
d.clear()
print(d)

In [ ]:
d={
    "Virat":18000,
    "Rohit":15000,
    "Suresh":12000,
    "Rishav":20000,
}
del d
print(d)

In [ ]:
d={
    "Virat":18000,
    "Rohit":15000,
    "Suresh":12000,
    "Rishav":20000,
}
for key in d.keys():
    print(key)

In [ ]:
for value in d.values():
    print(value)

In [ ]:
for key,value in d.items():
    print(f"{key}:{value}")

OOP

In [ ]:
#Class:-Class is the blueprint or Prototype of Object
#Object is the instance of class.
#Class:-Furniture
#Object:-Chair,Table,Desk
#Furniture is my class name
#chair and table is my class variable
class Furniture:
    chair=5000
    table=7000

obj=Furniture()#Creating the object with respect to Furniture class
print(obj.chair)
print(obj.table)

Numpy

In [ ]:
import numpy as np

In [ ]:
#Creating the 1-D array
one=np.array([1,2,3,4,5,6])
print(one)
print(one.shape)
print(one.ndim)

In [ ]:
#Creating the 2-D array
two=np.array(
    [#Useless bracket
#    c1 c2 c3
     [1,2,3,10],#Row-1
     [4,5,6,11],#Row-2
     [7,8,9,12]#Row-3

    ]
)
print(two)
print(two.shape)
print(two.ndim)

In [ ]:
#Creating the 3-D array
three=np.array(
    [#Useless bracket
     [#Depth
      [1,2,3],
      [4,5,6],
      [7,8,9]

     ]

    ]

)
print(three)
print(three.ndim)
print(three.shape)

In [ ]:
#Slicing concept
#             -5 -4 -3 -2 -1
one=np.array([10,20,30,40,50])
#             0 ,1 ,2 ,3 , 4
'''
one[s:e:step]
'''
print(one[0:4:1])
print(one[-5:-2:1])

In [ ]:
two=np.array(
    [#Useless bracket
#    c1 c2 c3
     [1,2,3,10],#Row-0
#     0 1 2 3
     [4,5,6,11],#Row-1
#     0 1 2 3
     [7,8,9,12]#Row-2
#     0,1,2,3

    ]
)
'''
2,3,10
5,6,11

'''
'''
two[row_slicing,column_slicing]
'''
two[0:2,1:4]

In [ ]:
three=np.array(
    [#Useless bracket
     [#Depth
      [1,2,3],
      [4,5,6],
      [7,8,9]

     ]

    ]

)
'''
2 3

5 6
'''
three[0:,0:2,1:]

In [ ]:
#Reshaping the array
one=np.array([1,2,3,4,5,6])
#3*2=3rows and 2 columns
#2*3=2rows and 3 columns
print(one.reshape(3,2))
print(one.reshape(2,3))

In [ ]:
#& operator case
one=np.array([10,20,30,40,50,60,70,80])
print(one[one<50])
print(one[one>50])
print(one[(one>30) & (one <70)])

In [ ]:
#Some inbuilt mathematical function in numpy
one=np.array([10,20,30,40,50,60,70,80])
print(one.min())
print(one.max())
print(one.sum())
print(one.mean())
print(np.median(one))
print(one.std())
print(one.var())
print(np.sqrt(one))
print(np.exp(one))
print(np.sin(one))
print(np.cos(one))
print(np.log(one))
print(np.tan(one))

In [ ]:
#Creating the matrix fill with one
one=np.ones((3,3))
print(one.astype(int))

In [ ]:
#Creating the idendity matrix
i=np.eye(3,3)
print(one.astype(int))